<div *ngIf="isLogin()">
  <div class="nav-items">
    <div class="nav-item">
      <a href="/dashboard" type="button" style="text-decoration: none; color: aliceblue;">
      <fa-icon [icon]="faDashboard"></fa-icon>
      <span>Dashboard</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="/scscf" type="button" style="text-decoration: none; color: aliceblue;">
        <fa-icon [icon]="faShop"></fa-icon>
        <span>SCSCF</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="/tas" type="button" style="text-decoration: none; color: aliceblue;">
        <fa-icon [icon]="faBox"></fa-icon>
        <span>TAS</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="https://www.cdot.in/cdotweb/web/contactus.php?lang=en" style="text-decoration: none; color: aliceblue;">
      <fa-icon [icon]="faContactBook"></fa-icon>
      <span>Contact</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="https://cdothelpline.cdot.in/helpline/control_room/cr_helpdesk.jsp" style="text-decoration: none; color: aliceblue;" >
      <fa-icon [icon]="faHand"></fa-icon>
      <span>Help</span>
      </a>
    </div>
  </div>
</div>