<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faLocation"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{this.reg}}</div>
        <div class="bottom">Registrations</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faShop"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{this.imsi_reg}}</div>
        <div class="bottom">IMSI Registered</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faBoxes"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{this.pod}}</div>
        <div class="bottom">Pods Used</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">346928</div>
        <div class="bottom">User LoggedIn</div>
      </div>
    </div>
  </div>